h2{
    margin: 50px auto;
}

#form{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(35px, auto)

}

#app, #description,  button{
    grid-column: 1/3;
}

#error{
    width: 100%;
    color: red;
    margin: 15px auto;
    text-align: center;
}

#error{
    width: 100%;
    color: green;
    margin: 15px auto;
    text-align: center;
}

a{
    margin-top: 15px;
    width: 70px;
    padding: 0 5px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: lightgray;
}